form {
    border-radius: 5px;
    padding: 20px;
  }
input{
    display: block;
    width: 90%;    
    cursor: pointer;
    background-color: lightyellow;
    border-style: solid;
    border-color: lightyellow;
    border: 0px 4px 0px 4px;
    padding: 1px 6px 1px 6px;
  }
input:focus{
    border-style: solid;
    border-color: black;
  }
.label{
    display: inline-block;
    padding:0.35em 0;
    color: black;
    margin-bottom: 0.25em;
  }

  