/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
}
  
  /* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
    background: #ddd;
}

.list-btn {
    margin: 10px 0;
}

/*button styling*/
button,.btn{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid black;
    margin-top:10px; 
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:black;
    text-align:center;
    transition: all 0.2s;
}

button:hover,a:hover{
    color:#FFFFFF;
    background-color:black;
}