.title-detail{
    margin-top:20px; 
    padding:0.35em 20px;
    font-family: roboto-thin;
    font-size: 36px;
}
.title-petition{
  margin-top:20px; 
}
.page-detail{
    margin-top:20px; 
    padding:0.35em 20px;
    font-family: roboto-thin;
    color:white; 
    text-align: center;
    font-size: 36px;
}
span{
    padding:0.35em 20px;
}

.color-gradient{
    height: 100vh;
    background: linear-gradient(to right top, #34e89e, #0f3443)
}
.login-extra{
    border-radius: 5px;
    padding: 20px;
}
button,.btn{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid black;
    margin-top:10px; 
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:black;
    text-align:center;
    transition: all 0.2s;
    }
button:hover,a:hover{
    color:#FFFFFF;
    background-color:black;
}
a{
    color:black;
    text-align:center;
    transition: all 0.2s;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  nav{
    margin-left: 25px;
  }
  ul{
    border-radius: 5px;
    padding: 20px;
  }
  li{
    margin-left: 25px;
  }
  nav {
    margin: 50px;
  }
   
  ul {
    overflow: auto;
    list-style-type: none;
  }
   
  .li {
    height: 25px;
    float: left;
    margin-right: 0px;
    border-right: 1px solid #aaa;
    padding: 0 20px;
  }
   
  .li:last-child {
    border-right: none;
  }
   
  .li a {
    text-decoration: none;
    color: #ccc;
    font: 25px/1 Helvetica, Verdana, sans-serif;
    text-transform: uppercase;
   
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
   
  .li a:hover {
    color: #666;
  }
   
  .li.active a {
    font-weight: bold;
    color: #333;
  }